<div class="row form-group" style="margin-top: 10px">
  <div class="col-md-4" style="text-align:left; padding-left: 80px">
<label><b>{{lang}} Respositores:</b></label>
</div>
  <div class="col-md-offset-3 col-md-4">
<input type="text" class="form-control" id="usr" name="term" [(ngModel)]="term" placeholder="Search by Repo name">
</div>
</div>

<div class="row">
<ul>
<li class="repo_item" *ngFor="let repo of repos | filter:term">
      <!-- <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span> -->
      <!-- <img src="" class="w3-bar-item w3-circle w3-hide-small" style="width:85px"> -->
      <!-- <div class="w3-bar-item">
        <span class="w3-large">{{repo.name}}</span><br>
        <span>Accountant</span>
        <span><i class="fa fa-star" aria-hidden="true"></i> <b>{{repo.stars}}</b></span>
        <span><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <b>{{repo.openIssues}}</b></span>

      </div> -->
      <div class="row" style="text-align:left;margin-bottom: 14px">
      <div class="col-md-offset-1 col-md-9">
        <span><b>{{repo.name}}</b></span><br>
        <span>{{repo.desc}}</span>
      </div>
      <div class="col-md-2">
        <span><i class="fa fa-star" aria-hidden="true"></i> <b>{{repo.stars}}</b></span>
        <span><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <b>{{repo.openIssues}}</b></span><br>
        <span><i class="fa fa-code-fork" aria-hidden="true"></i> <b>{{repo.forksCount}}</b></span>
        <span><i class="fa fa-eye" aria-hidden="true"></i> <b>{{repo.watcherCount}}</b></span>
      </div>
      </div>
</li>

</ul>
</div>
<div class="row">
<pager [pager]="pager" (pageChangeEvent)="pageChanged($event)"></pager>
</div>
